table
  thead
    tr
      th.ship-icon
      th.name Name
      th.alliance Alliance
      th.ship-type Ship Type
      th.system System
      th.reported-at Last Reported
      th.actions Actions
  tbody.list
