doctype transitional
html(xmlns='http://www.w3.org/1999/xhtml', xml:lang='en', lang='en')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(name='language', content='en')
    link(type='text/css', rel='stylesheet', media='screen', href='https://fonts.googleapis.com/css?family=Lato:900|Droid+Sans+Mono')
    link(href='//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css', rel='stylesheet')
    link(rel='stylesheet', type='text/css', href='/css/style.css')
    title Standing Fleet
  body
    #page
      #dim
        #content-wrapper
          block content

    script(type='text/javascript', src='https://jira.goonfleet.com/s/en_USnuezdz-1988229788/6102/63/1.4.0-m3/_/download/batch/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector.js?collectorId=2d3f9047')
