extends ../layout/default

block content
  script.
    document.documentElement.classList.add('overview');
    
  #top-bar
    span#current
      span.system Standing Fleet
      span.separator // 
      span.region Intel Overview
      span.separator //
      span.fleet-name >> TOP SECRET <<
  #content-wrapper
    #overview      
      h3 Known Wormholes
      table
        thead
          tr
            th Origin
        tbody
          tr
            td System A
          tr
            td System A
          tr
            td System A
          tr
            td System A
          tr
            td System A
          tr
            td System A
          tr
            td System A
          tr
            td System A
          tr
            td System A
          tr
            td System A
          tr
            td System A
          tr
            td System A
          tr
            td System A
          tr
            td System A
          tr
            td System A
          tr
            td System A
          tr
            td System A
          tr
            td System A
          tr
            td System A
          tr
            td System A
          tr
            td System A
          tr
            td System A
          tr
            td System A
          tr
            td System A
          tr
            td System A
          tr
            td System A
          tr
            td System A
          tr
            td System A
          tr
            td System A
          tr
            td System A
          tr
            td System A
          tr
            td System A
          tr
            td System A
          tr
            td System A
          tr
            td System A
          tr
            td System A
          tr
            td System A
          tr
            td System A
          tr
            td System A
          tr
            td System A
          tr
            td System A
          tr
            td System A
          tr
            td System A
          tr
            td System A
          tr
            td System A
          tr
            td System A
          tr
            td System A
          tr
            td System A
          tr
            td System A
          tr
            td System A
          tr
            td System A
          tr
            td System A
          tr
            td System A
          tr
            td System A
          tr
            td System A
          tr
            td System A
          tr
            td System A
          tr
            td System A
          tr
            td System A
          tr
            td System A
          tr
            td System A
          tr
            td System A
          tr
            td System A
          tr
            td System A
          tr
            td System A
          tr
            td System A
          tr
            td System A
          tr
            td System A
          tr
            td System A
          tr
            td System A
          tr
            td System A
          tr
            td System A
