extends ../layout/default

block content    
  #top-bar
    span#current
      span.system Standing Fleet
      span.separator // 
      span.region Intel Overview
      span.separator //
      span.fleet-name Known Wormholes
    #top-menu.sub-bar.right
      #top-menu-system-map.menu-button.system-map.active
        i.fa.fa-sitemap
        span MAP
      #top-menu-events.menu-button.events
        i.fa.fa-list
        span LOGS
  #content-wrapper
    #system-map.main-content.active
      #lookup
        input#search(placeholder="System or Region Name")
      #legend
      #system-info
    #events.main-content
      .list
  #bottom-bar
  #alert-container


  script(type='text/javascript', src='/js/lib.js')
  script(type='text/javascript', src='/js/templates.js')
  script(type='text/javascript', src='/js/app-overview.js')
