module.exports = function() {
	return {

		// Connection string for MongoDB
		MONGODB_URI: '',

		// Secret for signing cookies
		COOKIE_SECRET: '',

		// Secret for session handling cookie
		SESSION_SECRET: '',

		// Storage mode (memory or mongoDb)
		STORAGE_MODE: 'mongo',

		// Port to listen to
		PORT: 8080
	};
};