:markdown
  # Standing Fleet
  ![GARPA](/images/garpa_logo.png "Practical Solutions, Unorthodox Methods")
  > Visualized Alliance Intelligence
  
  ## What Is This?
  
  Standing Fleet is an application developed by GARPA and will be aimed at replacing the alliance regional intel channels. It's a visual representation of what the intel channels usually are, except easier to read and easier to determine if a system you're interested in has been marked as being hostile or friendly.
  
  This application is still under development, so with your constructive feedback, we'll be able to shape it into the most definitive intel resource available.
  
  * For better looking (and current) documentation, try confluence:  
  https://confluence.goonfleet.com/x/loR-AQ
  
  
  ### Getting Started
  https://standing-fleet.apps.goonswarm.org/
  
  Make sure you trust the domain before you start.  We should prompt you to do this, but if you're doing it manually make sure it's set to: "https://standing-fleet.apps.goonswarm.org/*" (note the *)
  
  
  Once you do, refresh the browser.
  
  ### :words: Just tell me how to report intel :words:
  
  For reporting status of a system, one does the following:
  
  1. Click on the list of names in local.  
  ![Alt](http://i.imgur.com/ucRgFhY.png)
  1. Ctrl-A + Ctrl-C  
  ![Alt](http://i.imgur.com/yd8lrBA.png)
  1. Click on 'Report Local' on the bottom menu bar.  
  ![Alt](http://i.imgur.com/gYDaBcK.png)
  1. Paste results.  
  ![Alt](http://i.imgur.com/5abNcPv.png)
  
  No more carefully picking names out of the list and dragging them to the intel channel.  No more worrying about whether or not the person you're reporting is blue or not.  Standing fleet will parse these pilots (and whitelist blue pilots) and mark them hostile based on their standings to [standings.goonfleet.com](https://standings.goonfleet.com). 
  
  
  ### Overview
  Now that you've actually joined a standing fleet, let's take a look around.  As you can see from the tabs on the top, this app is broken up into 6 basic sections:
  1. HUD
  1. Regional Map
  1. Hostile List
  1. Member List
  1. Scan List
  1. Event History
  
  
  ### Regional Map
  The regional map obviously shows you a tactical overview of reported hostile activity for your current region.  It will automatically center to your current system, but you can pan and zoom the map around.  Additionally, it will keep track of where friendly eyes are at, so you can plan your route accordingly.  
  ![Alt](http://i.imgur.com/LVRSjw6.png)
  
  ### Hostile List
  The hostile list is a collection of all currently reported hostiles and data about their ships.  Their standings are automatically parsed against [standings.goonfleet.com](https://standings.goonfleet.com).  Clicking on pilot names or their alliance names will bring up the in-game info on either. Clicking on the destination marker (the left icon) will set an in-game destination to the system they're spotted in and the target marker (the right icon) will pull up their details on zkillboard.  
  ![Alt](http://i.imgur.com/8jXEspW.png)
  
  ### Member List
  Standing fleet will also give you visibility to other members in the fleet, including the same destination and zkillboard links, but additionally a quick link to start a converstation with them. No more tackled carriers and nobody knows where to go help them at!  
  ![Alt](http://i.imgur.com/667Wqh2.png)
  
  ### Scan List
  Standing Fleet also has the ability to keep track of directional scans, similar to that dashboard.info site, including an on/off grid toggle.  
  ![Alt](http://i.imgur.com/NAbE31n.png)
  
  ### Event History
  The event history functions very similarly to the fleet events for the in-game fleet.  You can see a historical timeline of exactly what has happened in your fleet.  
  ![Alt](http://i.imgur.com/URwFLKV.png)
  
  ### Options Menu 
  In the bottom left corner, there's a link to the options menu where you can find out information regarding the fleet (like the Fleet Key), including your own Pilot Key (more on this later).  There's also a fully qualified link you can select-all and copy for quick pasting to your fellow pilots.  
  ![Alt](http://i.imgur.com/Xc13Bcg.png)
  
  ### Heads Up Display
  In case you want to just minimally view the system and neighboring systems status, just click on the HUD view.  
  ![Alt](http://i.imgur.com/7C2Bsm0.png)  
  ![Alt](http://i.imgur.com/QntLPiM.png)  
  ![Alt](http://i.imgur.com/KgcSSV9.png)  
  
  ### Reporting Status
  Standing Fleet crowd sources the intel for a given region by taking two kinds of inputs: copy/paste of local and copy/paste of d-scan.
  
  For reporting status of a system, one does the following:
  
  1. Click on the list of names in local.  
  ![Alt](http://i.imgur.com/ucRgFhY.png)
  1. Ctrl-A + Ctrl-C  
  ![Alt](http://i.imgur.com/yd8lrBA.png)
  1. Click on 'Report Local' on the bottom menu bar.  
  ![Alt](http://i.imgur.com/gYDaBcK.png)
  1. Paste results.  
  ![Alt](http://i.imgur.com/5abNcPv.png)
  
  No more carefully picking names out of the list and dragging them to the intel channel.  No more worrying about whether or not the person you're reporting is blue or not.  Standing fleet will parse these pilots (and whitelist blue pilots) and mark them hostile based on their standings to [standings.goonfleet.com](https://standings.goonfleet.com). Notice that I copy pasted a 30+ list of local, but it's only saying that 7 of them are hostile based on their standings lookup:
  ![Alt](http://i.imgur.com/ugNrkRa.png)
  
  Updating Hostile Details
  For the most part, people largely care about whether or not a system is hostile and less about what kind of ships the hostiles are in.  Although, sometimes that's important.  If you happen to know the ship type of a hostile, you can click on the Hostiles List and then click on the 'Non Visual' link to bring up the details window for that hostile.  Fill out the form and click submit.   
  ![Alt](http://i.imgur.com/ZrlcdiV.png)
  
  A few seconds later, your bros know what kind of ship that guy is in:  
  ![Alt](http://i.imgur.com/Xy9Yc4w.png)
  
  Hostiles will be auto-expired in 15 minutes, or will be updated if they are reported in another system.  Yes, their ship details will automatically preserved.
  
  ### Directional Scans
  Another thing that Standing Fleet can keep track of is directional scans.  To submit a directional scan, simply do the following:
  
  1. Open up your directional scan window and scan 360 with full resolution.
  1. Ctrl-A + Ctrl-C
  1. Click 'Report Scan' on the bottom menu bar.  
  ![Alt](http://i.imgur.com/aTzkjyT.png)
  1. Paste results  
  ![Alt](http://i.imgur.com/04r2NF2.png)
  
  Results are automatically submitted to your fleetmates and organized by ship type:  
  ![Alt](http://i.imgur.com/axUuyk6.png)
  
  Out of Game Linking
  So you've probably been reading all of this and thinking, that's really great Tarei.  Too bad I'll never use it because I already have too many windows open on my client and one more for the IGB is a bridge too far.  Ok, so fire up chrome (or firefox if you're one of *those people*) and plunk in:
  
  https://standing-fleet.apps.goonswarm.org/
  
  You're now going to get a different login form than you did in game.  This time, fill out the form with your [Goon ESA](https://goonfleet.com/esa/) credentials.  Use the ones you use for the wiki (ie: keep spaces in your usernames, don't convert them to underscores).  
  ![Alt](http://i.imgur.com/yEoNc6Y.png)
  
  Now it's going to ask for your pilot key.   
  ![Alt](http://i.imgur.com/L2IGnxy.png)
  
  Remember where that's located?  That's right, it's back on the options menu.  Go copy and paste that sumbitch back here.  
  ![Alt](http://i.imgur.com/MmCjvN8.png)
  
  Now you've linked your pilot and can click on the fleet link for that pilot out of game.  
  ![Alt](http://i.imgur.com/A1i7oIR.png)
  
  Feel free to minimize the IGB Standing Fleet window now, but just make sure that you keep it open to keep the session open.
  
  ## Things We're Planning
  One of the things we want to do is provide a stand-alone client that will watch the usual intel channels (ie: DEK.CFC, etc) and report those as well.  We're still hoping that in-app intel reports become the preferred way, but this will help close the gap.  Additionally, the stand-alone app will have a toggle-able clipboard watch mode, so that all you would have to do is ctrl-a + ctrl-c local.  It'll detect that it's a copypaste of local (and not your credit card pins) and post it automatically.  This would be particularly useful for people who could park alts at various regional chokepoints and macro ctrl-a + ctrl-c every 60 seconds.  Instant traffic cop.
  
  Reportable information about systems that don't have to do with pilots.  For example, reporting that a system has a wormhole, or gatecamp information would be particularly useful.
  
  We're also thinking about providing a way to hook into GTS to provide route and jump bridge guidance.  That's going to be a bit off, but still something we're thinking about doing.
  
