extends ../layout/default

block content
  #dim        
  #top-bar
    span#current
      span.system Standing Fleet
      span.separator // 
      span.region Select Region
      span.separator //
      span.fleet-name Select Fleet
    #top-menu.sub-bar.right
      #top-menu-hud.menu-button.hud
        i.fa.fa-tachometer
        span HUD
      #top-menu-system-map.menu-button.system-map.active
        i.fa.fa-sitemap
        span MAP
      #top-menu-hostiles.menu-button.hostiles
        i.fa.fa-exclamation-triangle
        span HOSTILES
      #top-menu-members.menu-button.members
        i.fa.fa-users
        span MEMBERS
      #top-menu-scans.menu-button.scans
        i.fa.fa-wifi
        span SCANS
      #top-menu-events.menu-button.events
        i.fa.fa-bell
        span EVENTS
  #content-wrapper
    #hud.main-content
    #system-map.main-content.active
      #lookup.hidden
        input#search(placeholder="Region Name")
      #legend
      #system-info
    #hostiles.main-content
      include ../tables/hostiles
    #members.main-content
      include ../tables/members
    #events.main-content
      .list
    #scans.main-content
      .list
  #bottom-bar
    #broadcast.sub-bar.left
      #status-buttons
        a#status-clear.btn.btn-success(target='_blank')
          i.fa.fa-check
          span Clear
        a#status-hostile.btn.btn-danger(target='_blank')
          i.fa.fa-crosshairs
          span Report
    #bottom-menu.sub-bar.right
      #bottom-menu-spinner.menu-button
        img(src='/images/spinner.gif', alt='Processing...')
      #bottom-menu-pilot-key.input-group(title="Pilot Key")
        span.input-group-addon
          i.fa.fa-key.fa-fw
        input.form-control(placeholder="Pilot Key", title="Pilot Key")
      #bottom-menu-data-client.menu-button
        i.fa
      #bottom-menu-scan.menu-button
        i.fa.fa-bullseye
        span REPORT SCAN
      - if (user)
        #bottom-menu-unlink.menu-button
          i.fa.fa-sign-out
          span UNLINK
      #bottom-menu-help.menu-button
        i.fa.fa-question-circle
        span HELP
      #bottom-menu-menu.menu-button
        i.fa.fa-cog
        span MENU
  #alert-container
    

  script(type='text/javascript', src='/js/lib.js')
  script(type='text/javascript', src='/js/templates.js')
  - if (user)
    script(type='text/javascript', src='/js/data-client.js')
  script(type='text/javascript', src='/js/app.js')
