<strong class="heading">Map Legend</strong>
<ul>
  <li><span class="system-unknown current">System</span>Current System</li>
  <li><span class="system-unknown">System</span>No Visual</li>
  <li><span class="system-clear">System</span>Clear</li>
  <li><span class="system-warning">System</span>Advisory Issued</li>
  <li><span class="system-hostile">System</span>Hostile</li>
  <li><hr class="link" /> System Gate
  <li><hr class="link constellation" /> Constellation Gate
  <li><hr class="link region" /> Regional Gate
  <li><hr class="link wormhole" /> Wormhole
  <li><hr class="link jumpbridge" /> Jumpbridge
</ul>
