<div class="legend">
  <i class="fa fa-question-circle fa-lg toggle"></i>
  <div class="contents">
    <strong class="heading">Map Legend</strong>
    <ul class="body">
      <li><span class="system-unknown current">System</span>Current System</li>
      <li><span class="system-unknown">System</span>No Visual</li>
      <li><span class="system-clear">System</span>Clear</li>
      <li><span class="system-warning">System</span>Faded (&gt; 5 min ago)</li>
      <li><span class="system-hostile">System</span>Hostile (&lt; 5 min ago)</li>
    </ul>
  </div>
</div>
