<strong class="heading">Map Legend</strong>
<ul>
  <li><span class="system-unknown current">System</span>Current System</li>
  <li><span class="system-unknown">System</span>No Visual</li>
  <li><span class="system-clear">System</span>Clear</li>
  <li><span class="system-warning">System</span>Advisory Issued</li>
  <li><span class="system-hostile">System</span>Hostile</li>
</ul>
